disnake==2.9.1
python-dotenv==1.0.1
colorlog==6.8.2
pymongo==4.6.3
motor[srv]==3.4.0
tzlocal==5.2
websockets==12.0
git+https://github.com/ZeltFrei/EvanlauOauthServer.git
git+https://github.com/Snipy7374/disnake-ext-paginator.git